{% set deployment_name = env['deployment']  %}
{% set region = 'us-west3'  %}
{% set zone = 'us-west3-b'  %}
{% set project_sa_email = env['project'] +'@'+ env['project'] +'.iam.gserviceaccount.com' %}

resources:
- type: compute.v1.instance
  name: infra-helper
  properties:
    zone: {{ zone }}
    tags:
     items:
     - terraform
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ zone }}/machineTypes/n1-standard-1
    serviceAccounts:
      - email: {{ project_sa_email }}
        scopes:
          - https://www.googleapis.com/auth/cloud-platform
    metadata:
      items:
      # For more ways to use startup scripts on an instance, see:
      #   https://cloud.google.com/compute/docs/startupscript
      - key: startup-script
        value: |
            #!/bin/bash -xe
            gcloud config set core/project '{{ env["project"] }}'
            gcloud config set compute/region '{{ region }}'
            gcloud config set compute/zone '{{ zone }}'

            # Required environment variables
            export PROJECT_ID='{{ env["project"] }}'
            export GOOGLE_PROJECT_ID=${PROJECT_ID}
            export REGION='{{ region }}'
            export QWIKLAB_USER_EMAIL='{{  properties['userName'] }}'

            # Download infrastructure repo
            git clone https://gitlab.com/gcp-solutions-public/shift-left-security-workshop/artifact-promotion-lab.git
            cd artifact-promotion-lab

            scripts/provision.sh

    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-10
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
      # Access Config required to give the instance a public IP address
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT

